nav{
    background-color: white;
}
body{
    background-color: #f9f9f9;
}

#video video{
    border: 1px solid white;
    border-radius: 5px;
    margin: 2rem 0rem auto;
    width: 660px;
    height: 440px;
    background-color: black;
}
.titulo{
    margin:auto;
    word-break: break-word;
    font-size: 1.2rem;
    font-family: "Roboto",sans-serif;
    font-weight: 600;
    line-height: 2.8rem;
    white-space: normal;
}

.lista{
    margin: 2rem auto;
    border-left: 1px solid rgb(221, 221, 221);
}

.lista li{
    list-style-type: none; 
}
.miniatura a canvas{
    border: 1px solid black;
    border-radius: 5px;
}
.hidden {
    display: none;
  }